:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 244, 244, 244;
  --color-neutral-200: 230, 230, 230;
  --color-neutral-300: 200, 200, 200;
  --color-neutral-400: 170, 170, 170;
  --color-neutral-500: 140, 140, 140;
  --color-neutral-600: 110, 110, 110;
  --color-neutral-700: 80, 80, 80;
  --color-neutral-800: 40, 40, 40;
  --color-neutral-900: 0, 0, 0;
  --color-neutral-950: 0, 0, 0;

  /* Light Blue (#56e0fe) */
  --color-primary-50: 235, 252, 255;
  --color-primary-100: 210, 248, 255;
  --color-primary-200: 150, 240, 255;
  --color-primary-300: 120, 234, 255;
  --color-primary-400: 90, 228, 255;
  --color-primary-500: 86, 224, 254;
  --color-primary-600: 50, 180, 210;
  --color-primary-700: 40, 140, 160;
  --color-primary-800: 30, 100, 120;
  --color-primary-900: 20, 60, 80;
  --color-primary-950: 10, 40, 60;

  /* Gray-Blue (#a4a6aa) */
  --color-secondary-50: 240, 240, 241;
  --color-secondary-100: 230, 230, 232;
  --color-secondary-200: 210, 211, 213;
  --color-secondary-300: 180, 182, 185;
  --color-secondary-400: 150, 152, 156;
  --color-secondary-500: 130, 132, 136;
  --color-secondary-600: 110, 112, 116;
  --color-secondary-700: 90, 92, 95;
  --color-secondary-800: 70, 72, 75;
  --color-secondary-900: 50, 52, 55;
  --color-secondary-950: 30, 32, 35;
}
